*{
    margin: 0px;
    padding: 0px;
    /* font-family: cursive; */
}
header{
    background-image: url(images/mnm.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}
#wrap{
    position: relative;
    top: 30px;
}
#head-h1{
    /* left:60px; */
    position: relative;
    top:15px;
    color:azure;
}
#navbar{
    position: relative;
    left: 270px;
    top:35px;
}
nav ul li{
    display: inline-block;
    float: left;
}
nav ul li a{
    text-decoration:  none;
    padding: 20px;
    color: white;
}
nav ul li a:hover{
    text-decoration: underline black;
    transition: 1s;
    

}
#head-para {
    position: relative;
    font-weight: bold;
    left: 3px;
    top: 200px;
    /* color: wheat; */
}
#head-para h1{
    position: relative;
    left: -400px;
    font-weight: bolder;
    top: 2px;
    font-size: 40px;
}
#head-para p{
    font-weight: bolder;
    font-size: large;
}
#head-social img{
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius:20px;
}
#head-social{
    display: inline-block;
    float: left;
    position: relative;
    left: 90px;
    top: 30px;
    /* padding: 20px; */
    
}
#con1{
    background-color: pink;
    width: 100%;
    height: 50vh;
}
#con2{
    position: absolute;
    background: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* border: 3px solid blue; */
}
#con2a{
    /* border: 3px solid green; */
    position: relative;
    top:30px;
    left: 10px;
    width: 590px;
    height: 500px;
    overflow: hidden;
}
#con2a{
    color: white;
    /* font-size: 0.3em; */
}
#con2a p{
    font-size: smaller;
}
#con2b{
    position: relative;
    top: -460px;
    left:700px;
    /* border: 3px solid yellow */
    
}
#con2c{
    position: relative;
    top:-450px;
    left:700px;
    /* border: 3px solid red; */
}
#con2 img{
    border-radius:13px  ;
    height: 240px;
    width: 240px;
}
#gallery{
    display: inline-block;
    
}
.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;
  }
  .middle{
    position: relative;
    top: 770px;
    left: 70%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar{
    width: 50px;
    height: 10px;
    border: 2px solid black;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
  }
  .bar:hover{
    background:wheat;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  
  #r1:checked ~ .s1{
    margin-left: 0;
  }
  #r2:checked ~ .s1{
    margin-left: -20%;
  }
  #r3:checked ~ .s1{
    margin-left: -40%;
  }
  #r4:checked ~ .s1{
    margin-left: -60%;
  }
  #r5:checked ~ .s1{
    margin-left: -80%;
  }
  #bg{
    background-color:#34495e;
    width: 100%;
    height: 600px;
  }
  .middle h1{
    color: white;
    text-decoration: none;
    position: relative;
    top:-8px;
  }
  .middle h1:hover{
    color: pink;
    text-decoration: underline;
  }
footer{
    /* position: absolute; */
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: 200px;
}
#footer1{
    position: relative;
    color: white;
    top: 5px;
    left: 60px ;
    height: 200px;
    width: 100%;
}
#footer2{
    position: relative;
    top: 90px;
    left: 90px;
}
#footer2 img{
    padding: 10px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
#footer3 nav ul li a{
    color: white;
    text-decoration: none;
    display: inline;

}
#footer3 nav ul li a:hover{
    text-decoration: underline;
    color: grey;
}
#footer3{
    position: relative;
    top:-200px;
    right: -700px;
}